.version.events /* version checker */
{
	color: #000018;
	background-color: #4D3BCA;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

.html
{
	background-color: #F4F4F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 769.5234421276905px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#accordionu10005
{
	z-index: 76;
}

#u10006
{
	z-index: 77;
}

#u10007-6
{
	z-index: 78;
	min-height: 38px;
	padding: 12px 5px 5px 21px;
}

#u10009
{
	z-index: 84;
	width: 30px;
}

#u10012
{
	z-index: 85;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
}

#u10010
{
	z-index: 86;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10011
{
	z-index: 87;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u10013
{
	z-index: 89;
}

#menuu10014
{
	z-index: 90;
	width: 380px;
	margin-right: -10000px;
}

#u10023
{
	width: 380px;
	min-height: 40px;
	padding-bottom: 63px;
	margin-right: -10000px;
}

#u10025-4
{
	width: 339px;
	min-height: 40px;
	margin-right: -10000px;
	top: 31px;
	left: 21px;
}

#u10018
{
	width: 380px;
	min-height: 40px;
	padding-bottom: 64px;
	margin-right: -10000px;
}

#u10021-4
{
	width: 339px;
	min-height: 40px;
	margin-right: -10000px;
	top: 32px;
	left: 21px;
}

#accordionu10005-bw
{
	z-index: 76;
	height: 55px;
}

#u10061
{
	z-index: 103;
	width: 124px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
}

#u10079
{
	z-index: 105;
	width: 180px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 93px;
}

#u10079_clip
{
	width: 180px;
	height: 43px;
}

#u10079_img
{
	margin-top: -4px;
	margin-bottom: -8px;
}

#accordionu11258
{
	z-index: 107;
}

#u11272
{
	z-index: 108;
}

#u11273-6
{
	z-index: 109;
	min-height: 38px;
	padding: 12px 5px 5px 21px;
}

#u10007-6.AccordionPanelTabOpen,#u11273-6.AccordionPanelTabOpen
{
	padding-top: 12px;
	padding-bottom: 5px;
	min-height: 38px;
	margin: 0px;
}

#u10008,#u11274
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u11275
{
	z-index: 115;
	width: 30px;
}

#u11276
{
	z-index: 116;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
}

#u11277
{
	z-index: 117;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u11278
{
	z-index: 118;
	width: 30px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u11279
{
	z-index: 120;
}

#menuu11280
{
	z-index: 121;
	width: 380px;
	margin-right: -10000px;
}

#u12202
{
	width: 380px;
	min-height: 40px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u10023.MuseMenuActive,#u10018.MuseMenuActive,#u12202:hover
{
	width: 380px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12204-4
{
	width: 339px;
	min-height: 40px;
	margin-right: -10000px;
	top: 14px;
	left: 21px;
}

#u10023.MuseMenuActive #u10025-4,#u10018.MuseMenuActive #u10021-4,#u12202:hover #u12204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12209
{
	width: 380px;
	min-height: 40px;
	padding-bottom: 29px;
	margin-right: -10000px;
}

#u12202.MuseMenuActive,#u12209:hover
{
	width: 380px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12211-4
{
	width: 339px;
	min-height: 40px;
	margin-right: -10000px;
	top: 14px;
	left: 21px;
}

#u12202.MuseMenuActive #u12204-4,#u12209:hover #u12211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

@viewport,#u10022,#u10015,#u12201,#u12208,#u12215
{
	width: 380px;
}

#u12216
{
	width: 380px;
	min-height: 40px;
	padding-bottom: 29px;
	margin-right: -10000px;
}

#u12209.MuseMenuActive,#u12216:hover
{
	width: 380px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12216.MuseMenuActive
{
	width: 380px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12217-4
{
	width: 339px;
	min-height: 40px;
	margin-right: -10000px;
	top: 14px;
	left: 21px;
}

#u12209.MuseMenuActive #u12211-4,#u12216:hover #u12217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u12216.MuseMenuActive #u12217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#accordionu11258-bw
{
	z-index: 107;
	height: 55px;
}

#u11314
{
	z-index: 140;
	width: 124px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
}

#u19816-4
{
	z-index: 142;
	width: 160px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 110px;
}

#u19817
{
	z-index: 146;
	width: 38px;
	margin-right: -10000px;
	left: 329px;
}

#u19817_img
{
	padding-right: 2px;
}

#u20106-4
{
	z-index: 2;
	width: 343px;
	min-height: 65px;
	background-color: #F4F4F4;
	margin-left: 20px;
	position: relative;
}

.H1---Scroll-Motion
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u20106-2
{
	line-height: 18px;
}

#pu20108
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 16px;
}

#u20108
{
	z-index: 7;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20109
{
	z-index: 8;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20110
{
	z-index: 10;
	width: 339px;
	height: 257px;
	border-color: #000000;
	background-color: #CCCCCC;
	position: relative;
}

#u20112
{
	z-index: 9;
	width: 339px;
	border-style: solid;
	border-color: #BBBBBB;
	background-color: #FFFFFF;
	padding-bottom: 429px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u20111-7
{
	z-index: 11;
	width: 310px;
	min-height: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 19px;
}

#u20113-4
{
	z-index: 18;
	width: 304px;
	min-height: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 19px;
}

#buttonu21025
{
	z-index: 38;
	width: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 57px;
	background: transparent url("../../images/440-recreating.png") no-repeat left top;
}

#buttonu21025:hover
{
	width: 219px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
	background: #545454 url("../../images/440-recreating.png") no-repeat left top;
}

#buttonu21025.ButtonSelected
{
	width: 219px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
	background: transparent url("../../images/440-recreating.png") no-repeat left top;
}

.hidpi #buttonu21025,.hidpi #buttonu21025:hover,.hidpi #buttonu21025.ButtonSelected
{
	background-image: url("../../images/440-recreating_2x.png");
	background-size: 220px 145px;
}

#u21026-4
{
	z-index: 39;
	width: 220px;
	min-height: 31px;
	padding-top: 9px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: -1px;
	background: #70A30F url("../../images/composition-button-220x40.png") no-repeat left top;
}

#buttonu21025:hover #u21026-4
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 144px -10000px 0px 0px;
	background: #70A30F url("../../images/composition-button-220x40.png") no-repeat left center;
}

#buttonu21025:active #u21026-4
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 144px -10000px 0px 0px;
	background: #4F712F url("../../images/composition-button-220x40.png") no-repeat left bottom;
}

#pu20114
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 56px;
}

#u20114
{
	z-index: 22;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20115
{
	z-index: 23;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20116
{
	z-index: 25;
	width: 339px;
	height: 278px;
	border-color: #000000;
	background-color: #CCCCCC;
	position: relative;
}

#pu20112,#pu20118
{
	width: 0.01px;
	margin-top: -2px;
}

#u20118
{
	z-index: 24;
	width: 339px;
	border-style: solid;
	border-color: #BBBBBB;
	background-color: #FFFFFF;
	padding-bottom: 344px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u20119-7
{
	z-index: 26;
	width: 310px;
	min-height: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 19px;
}

#u20117-5
{
	z-index: 33;
	width: 311px;
	min-height: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 19px;
}

#u20117
{
	font-weight: 700;
}

#buttonu21027
{
	z-index: 43;
	width: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 61px;
	background: transparent url("../../images/440-mobile.png") no-repeat left top;
}

#buttonu21027:hover
{
	width: 219px;
	min-height: 0px;
	margin: 48px -10000px 0px 0px;
	background: #545454 url("../../images/440-mobile.png") no-repeat left top;
}

#buttonu21027.ButtonSelected
{
	width: 219px;
	min-height: 0px;
	margin: 48px -10000px 0px 0px;
	background: transparent url("../../images/440-mobile.png") no-repeat left top;
}

.hidpi #buttonu21027,.hidpi #buttonu21027:hover,.hidpi #buttonu21027.ButtonSelected
{
	background-image: url("../../images/440-mobile_2x.png");
	background-size: 220px 145px;
}

#u21028-4
{
	z-index: 44;
	width: 220px;
	min-height: 31px;
	padding-top: 9px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: -1px;
	background: #70A30F url("../../images/composition-button-220x40.png") no-repeat left top;
}

#buttonu21027:hover #u21028-4
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 144px -10000px 0px 0px;
	background: #70A30F url("../../images/composition-button-220x40.png") no-repeat left center;
}

#buttonu21027:active #u21028-4
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 144px -10000px 0px 0px;
	background: #4F712F url("../../images/composition-button-220x40.png") no-repeat left bottom;
}

#buttonu21025.ButtonSelected #u21026-4,#buttonu21027.ButtonSelected #u21028-4
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 144px -10000px 0px 0px;
	background: #70A30F url("../../images/composition-button-220x40.png") no-repeat left top;
}

#u20107
{
	z-index: 6;
	width: 335px;
	height: 31px;
	margin-left: 26px;
	margin-top: 33px;
	position: relative;
}

.ie #u20107
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#paccordionu10005,#pu10076-11
{
	width: 0.01px;
}

#u10076-11
{
	z-index: 48;
	min-height: 132px;
	padding: 20px;
}

#u10076-11-bw
{
	z-index: 48;
	min-height: 132px;
	height: 132px;
}

#u9999
{
	z-index: 59;
	width: 210px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 21px;
}

#u9999_img
{
	padding-bottom: 2px;
}

#u11255-13
{
	z-index: 61;
	min-height: 132px;
	padding: 20px;
}

#u11255-13-bw
{
	z-index: 61;
	min-height: 132px;
	height: 132px;
}

#u19820
{
	z-index: 74;
	width: 210px;
	margin-right: -10000px;
	margin-top: 110px;
	left: 21px;
}

#u19820_img
{
	padding-bottom: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

