.html
{
	background-color: #F4F4F4;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F4F4F4;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 214px;
	margin-bottom: -160px;
}

#u384
{
	z-index: 85;
	width: 1180px;
	height: 55px;
	top: 0px;
	left: -100px;
}

#u385
{
	z-index: 86;
	width: 180px;
	top: 0px;
	left: 0px;
}

#u387
{
	z-index: 88;
	width: 38px;
	top: 0px;
	left: 922px;
}

#menuu1363
{
	z-index: 124;
	width: 700px;
	top: 13px;
	left: 180px;
}

#u1403
{
	width: 132px;
	min-height: 36px;
	margin-right: -10000px;
}

#u1404
{
	width: 132px;
	padding-bottom: 15px;
}

#u1404:hover
{
	margin: 0px;
}

#u1404:active
{
	margin: 0px;
}

#u1382
{
	width: 132px;
	min-height: 36px;
	margin-right: -10000px;
	left: 142px;
}

#u1383
{
	width: 132px;
	padding-bottom: 15px;
}

#u1404.MuseMenuActive,#u1383:hover
{
	margin: 0px;
}

#u1383:active
{
	margin: 0px;
}

#u1396
{
	width: 132px;
	min-height: 36px;
	margin-right: -10000px;
	left: 284px;
}

#u1397
{
	width: 132px;
	padding-bottom: 15px;
}

#u1383.MuseMenuActive,#u1397:hover
{
	margin: 0px;
}

#u1397:active
{
	margin: 0px;
}

#u1375
{
	width: 132px;
	min-height: 36px;
	margin-right: -10000px;
	left: 426px;
}

#u1376
{
	width: 132px;
	padding-bottom: 15px;
}

#u1397.MuseMenuActive,#u1376:hover
{
	margin: 0px;
}

#u1376:active
{
	margin: 0px;
}

#u1389
{
	width: 132px;
	min-height: 36px;
	margin-right: -10000px;
	left: 568px;
}

#u1392
{
	width: 132px;
	padding-bottom: 15px;
}

#u1376.MuseMenuActive,#u1392:hover
{
	margin: 0px;
}

#u1392:active
{
	margin: 0px;
}

#u1392.MuseMenuActive
{
	margin: 0px;
}

#u1405-4,#u1384-4,#u1399-4,#u1377-4,#u1394-4
{
	width: 132px;
	min-height: 19px;
	padding-top: 2px;
	margin-right: -10000px;
	top: 7px;
}

#u1325
{
	z-index: 58;
	width: 1180px;
	height: 130px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	top: 55px;
	left: -100px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u1257-4
{
	z-index: 69;
	width: 620px;
	min-height: 27px;
	position: fixed;
	top: 79px;
	left: 100px;
}

#u1737
{
	z-index: 79;
	width: 60px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	background-color: transparent;
	position: fixed;
	top: 85px;
	left: 20px;
}

#u1290-4
{
	z-index: 59;
	width: 220px;
	min-height: 31px;
	padding-top: 9px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 85px;
	left: 740px;
	background: #70A30F url("../../images/fall2013/composition-button-220x40.jpg") no-repeat left top;
}

#u1290-4:hover
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
	background: #70A30F url("../../images/fall2013/composition-button-220x40.jpg") no-repeat left center;
}

#u1290-4:active
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
	background: #4F712F url("../../images/fall2013/composition-button-220x40.jpg") no-repeat left bottom;
}

#u1326-6
{
	z-index: 63;
	width: 220px;
	min-height: 49px;
	color: #363636;
	position: fixed;
	top: 125px;
	left: 100px;
}

#u1736-6
{
	z-index: 73;
	width: 220px;
	min-height: 49px;
	color: #363636;
	position: fixed;
	top: 125px;
	left: 340px;
}

#u1743-4
{
	z-index: 81;
	width: 220px;
	min-height: 29px;
	text-align: center;
	position: fixed;
	top: 145px;
	left: 740px;
}

#slideshowu1745
{
	z-index: 14;
	width: 0.01px;
	height: 515px;
	margin-left: 20px;
	position: relative;
}

#u1767
{
	position: absolute;
	width: 700px;
	height: 460px;
	background-color: transparent;
}

#u1767popup
{
	z-index: 15;
}

#u1768
{
	z-index: 16;
	width: 700px;
	height: 460px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u1790
{
	z-index: 18;
	width: 700px;
	height: 460px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u1802
{
	z-index: 20;
	width: 700px;
	height: 460px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u1746
{
	position: absolute;
	width: 220px;
	top: 470px;
}

#u1746popup
{
	z-index: 22;
}

#u1747
{
	z-index: 23;
	width: 60px;
	height: 45px;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u1747:hover
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1747:active
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px -10000px 0px 0px;
}

#u1793
{
	z-index: 25;
	width: 60px;
	height: 45px;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u1793:hover
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1793:active
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px -10000px 0px 0px;
}

#u1805
{
	z-index: 27;
	width: 60px;
	height: 45px;
	background-color: #7F7F7F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u1805:hover
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1805:active
{
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px -10000px 0px 0px;
}

#u1747.SSSlideLinkSelected,#u1793.SSSlideLinkSelected,#u1805.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1747_clip,#u1793_clip,#u1805_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u1747_img,#u1793_img,#u1805_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1765
{
	position: absolute;
	width: 460px;
	top: 470px;
	left: 240px;
}

#u1765popup
{
	z-index: 29;
}

#u1766-5
{
	z-index: 30;
	width: 460px;
	min-height: 43px;
	padding-top: 2px;
	text-align: left;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u1796-4
{
	z-index: 35;
	width: 460px;
	min-height: 43px;
	padding-top: 2px;
	text-align: left;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u1808-4
{
	z-index: 39;
	width: 460px;
	min-height: 43px;
	padding-top: 2px;
	text-align: left;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/fall2013/loading.gif") no-repeat center center;
}

#u1830-4
{
	z-index: 10;
	width: 190px;
	min-height: 25px;
	border-color: #CCCCCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-left: 30px;
	padding-top: 5px;
	color: #363636;
	position: fixed;
	top: 214px;
	left: 740px;
	background: #CCCCCC url("../../images/fall2013/search-icon-30x30.png") no-repeat left top;
}

#u1830-4:hover
{
	border-color: #0079A6;
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
	background: #DCE8ED url("../../images/fall2013/search-icon-30x30.png") no-repeat left bottom;
}

#u1830-4:hover p
{
	color: #0079A6;
	visibility: inherit;
}

#u1829-8
{
	z-index: 2;
	width: 220px;
	min-height: 261px;
	line-height: 30px;
	position: fixed;
	top: 254px;
	left: 740px;
}

#u1829-2,#u1829-4
{
	font-size: 24px;
}

#u1832
{
	z-index: 43;
	width: 700px;
	height: 10px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1833-4
{
	z-index: 44;
	width: 700px;
	min-height: 27px;
	font-size: 24px;
	color: #000000;
	margin-left: 20px;
	margin-top: 29px;
	position: relative;
}

#u1834-10
{
	z-index: 48;
	width: 700px;
	min-height: 92px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#pu397
{
	width: 0.01px;
	left: -100px;
	margin-top: 40px;
	position: relative;
}

#u397
{
	z-index: 90;
	width: 1180px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u397_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	left: -100px;
}

#ppu1327-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 120px;
}

#pu1327-6
{
	width: 0.01px;
	position: relative;
}

#u1327-6
{
	z-index: 91;
	width: 220px;
	min-height: 40px;
	margin-right: -10000px;
}

#u1328-6
{
	z-index: 97;
	width: 220px;
	min-height: 40px;
	margin-right: -10000px;
	left: 240px;
}

#u1329-6
{
	z-index: 103;
	width: 220px;
	min-height: 40px;
	margin-right: -10000px;
	left: 480px;
}

#u1332-6
{
	z-index: 116;
	width: 700px;
	min-height: 40px;
	margin-top: 23px;
}

#pu1330-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 840px;
}

#u1330-6
{
	z-index: 109;
	width: 220px;
	min-height: 40px;
}

#u1333
{
	z-index: 122;
	width: 210px;
	margin-top: 27px;
}

#u1331
{
	z-index: 115;
	width: 960px;
	height: 12px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 120px;
}

body
{
	padding-bottom: 160px;
}

#page .verticalspacer
{
	clear: both;
}

